#include "common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER)
ENABLE_APP_SANDBOX[sdk=macosx*] = YES
ENABLE_USER_SELECTED_FILES[sdk=macosx*] = readonly
APP_DISPLAY_NAME = Piper TTS
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

#include "combine.xcconfig"
