#include "common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = ${APP_BUNDLE_IDENTIFIER}.pipertts

ENABLE_APP_SANDBOX[sdk=macosx*] = YES
REGISTER_APP_GROUPS = YES
TARGETED_DEVICE_FAMILY = ""
PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*] = Piper TTS Dev PP

PRODUCT_MODULE_NAME=PiperTTS
AUDIO_COMPONENTS_DESCRIPTION=${PRODUCT_MODULE_NAME}
AUDIO_COMPONENTS_NAME=${PIPER_PRODUCT_NAME}: ${PRODUCT_MODULE_NAME}
AUDIO_COMPONENTS_SUBTYPE=pipr

#include "combine.xcconfig"
